<section class="galery swiper mySwiper">
  <h2 class="visually-hidden">Galery</h2>
  <ul class="swiper-wrapper">
    <li class="swiper-slide">
      <img class="galery-picture" srcset="
          ./images/galery/desktop_galery_1_@1x.webp 1x,
          ./images/galery/desktop_galery_1_@2x.webp 2x
        " src="./images/galery/desktop_galery_1_@1x.jpg" alt="IceCream" />
    </li>
    <li class="swiper-slide">
      <img class="galery-picture" srcset="
          ./images/galery/desktop_galery_2_@1x.webp 1x,
          ./images/galery/desktop_galery_2_@2x.webp 2x
        " src="./images/galery/desktop_galery_2_@1x.jpg" alt="IceCream" />
    </li>
    <li class="swiper-slide">
      <img class="galery-picture" srcset="
          ./images/galery/desktop_galery_3_@1x.webp 1x,
          ./images/galery/desktop_galery_3_@2x.webp 2x
        " src="./images/galery/desktop_galery_3_@1x.jpg" alt="IceCream" />
    </li>
  </ul>
</section>