<section class="hero">
    <div class="hero_container container">
        <canvas class="hero_confetti" id="canvas"></canvas>

        <div class="hero_sides">
            <div class="hero_left-side">

                <h1 class="hero_title">ice cream made with passion</h1>

                <ul class="hero_list--buttons">
                    <li>
                        <a href="#products" class="hero_button--product">Products</a>
                    </li>
                    <li>
                        <a href="#about" class="hero_button--made">How it's made?</a>
                    </li>

                </ul>
            </div>

            <div class="hero_right-side">
                <ul class="hero_list-cafes">
                    <li class="hero_list-item">
                        <p class="hero_list-quantities"> 16</p>
                        <p class="hero_list-text"> cafes</p>
                    </li>
                    <li class="hero_list-item">
                        <p class="hero_list-quantities">23</p>
                        <p class="hero_list-text">food brucks</p>
                    </li>
                </ul>
            </div>

        </div>


        <div class="hero_bottom-side">
            <picture>
                <source media="(min-width: 1200px)"
                    srcset="./images/hero/many-icecream/desktop-many-icecream@1x.webp 1x, ./images/hero/many-icecream/desktop-many-icecream@2x.webp 2x" />
                <source media="(min-width: 768px)"
                    srcset="./images/hero/many-icecream/tablet-many-icecream@1x.webp 1x, ./images/hero/many-icecream/tablet-many-icecream@2x.webp 2x" />
                <img class="hero_image-plate" src="./images/hero/many-icecream/tablet-many-icecream@1x.png"
                    alt="many ice-cream" loading="lazy" />
            </picture>


            <div>
                <p class="hero_text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore
                    et
                </p>
                <a class="hero_link" href="#products">
                    <svg class="hero_arrow" width="40" height="40">
                        <use href="./images/icons.svg#arrow"></use>
                    </svg>
                </a>
            </div>

        </div>

        <ul class="hero_list-images">
            <li>


                <picture>
                    <source
                        srcset="./images/ice-cream/mobile_ice-cream@1x.webp 177w, ./images/ice-cream/mobile_ice-cream@2x.webp 354w"
                        media="(max-width: 767px)" sizes="(min-width: 320px) 177px, 100vw">
                    <source
                        srcset="./images/ice-cream/tablet_ice-cream@1x.webp 268w, ./images/ice-cream/tablet_ice-cream@2x.webp 536w"
                        media="(max-width: 1199px)" sizes="(min-width: 768px) 268px, 100vw">
                    <source
                        srcset="./images/ice-cream/desktop_ice-cream@1x.webp 456px, ./images/ice-cream/desktop_ice-cream@2x.webp 912w"
                        media="(min-width: 1200px)" sizes="(min-width: 1200px) 456px, 100vw">
                    <img src="./images/hero/dots/mobile-dots@1x.png" alt="icecream" class="hero_image-icecream">
                </picture>
            </li>
            <li>


                <picture>
                    <source
                        srcset="./images/hero/dots/mobile-dots@1x.webp 320w, ./images/hero/dots/mobile-dots@2x.webp 640w"
                        media="(max-width: 767px)" sizes="(min-width: 320px) 320px, 100vw">
                    <source
                        srcset="./images/hero/dots/tablet-dots@1x.webp 768w, ./images/hero/dots/tablet-dots@2x.webp 1536w"
                        media="(max-width: 1199px)" sizes="(min-width: 768px) 768px, 100vw">
                    <source
                        srcset="./images/hero/dots/desktop-dots@1x.webp 1200w, ./images/hero/dots/desktop-dots@2x.webp 2400w"
                        media="(min-width: 1200px)" sizes="(min-width: 1200px) 1200px, 100vw">
                    <img src="./images/hero/dots/mobile-dots@1x.png" alt="dots" class="hero_image-drops">
                </picture>
            </li>
        </ul>
    </div>
</section>