.swiper {
    background-image: var(--g-bg-mob);

    @media screen and (min-width: 767px) {
        background-image: var(--g-bg-tab);
    }

    @media screen and (min-width: 1200px) {
        background-image: var(--g-bg-des);
    }
}

.swiper-slide {
    padding: 0 20px;
}

.galery {
    padding-top: 60px;

}

.galery-picture {
    margin-left: auto;
    margin-right: auto;
    border-radius: 5%;
    padding: 0 20px 80px 20px;
}

@media screen and (min-width: 767px) {
    .galery-picture {
        padding: 0 32px;
        padding-bottom: 100px;
        // margin-top: 60px;
        // margin-bottom: 100px;
    }
}

@media screen and (min-width: 1200px) {
    .galery-picture {
        padding: 0 92px 140px 92px;
        // margin-top: 80px;
        // margin-bottom: 140px;
    }
}
